@media (min-width:0px) and (max-width: 480px) {

    .navbar
    {
        height: 160px;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
    }

    .navContainer
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0px;
    }

    .navContainer .logo
    {
        margin: 10px 25%;
    }

    .navmenu
    {
        height: 20px;
        margin:0px;
        display: flex;
        flex-direction: row;
    }

    .navmenu .list
    {
        height: 20px;
        /* margin: 0px 18%; */
        display: flex;
        flex-direction: row;
    }

    .list ul
    {
        margin-left: 32%;
        margin: 0px 130%;
    }
    .list ul li 
    {
        line-height: 0px;
    }

    .searchbar
    {
        width: 100%;
        display: flex;
        margin: 5px 22%;
    }
    .searchbar i
    {
        padding-top: 22px;
    }

    .navicon
    {
        visibility: hidden;
    }

    /* socials */

    .social
    {
        visibility: hidden;
    }

    /* left */

   .leftDetails
   {
    display: none;
   }

   /* right */


   .mainBox
   {
    margin-top: 10%;
   }

   .box1
{
    height: 250px;
    width: 45%;
    margin: 0px 20px 65px 0px;
}

.box1 h2
{
    color: white;
    font-size: 16px;
    text-align: center;
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight:100;
    font-style: normal;
}

.box1 h3
{
    color: white;
    font-size: 10px;
    text-align: center;
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight:100;
    font-style: normal;
    padding-top: 10px;
}

.box1 img
{
    width: 100%;
    height: 250px;
}

.box2
{
    height: 250px;
    width: 45%;
}


.box2 h2
{
    color: white;
    font-size: 16px;
    text-align: center;
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight:100;
    font-style: normal;
}

.box2 h3
{
    color: white;
    font-size: 10px;
    text-align: center;
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight:100;
    font-style: normal;
    padding-top: 10px;
}

.box2 img
{
    width: 100%;
    height: 250px;
}

.box3
{
    height: 250px;
    width: 45%;
    margin: 0px 20px 65px 0px;

}

.box3 h2
{
    color: white;
    font-size: 16px;
    text-align: center;
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight:100;
    font-style: normal;
}

.box3 h3
{
    color: white;
    font-size: 10px;
    text-align: center;
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight:100;
    font-style: normal;
    padding-top: 10px;
}

.box3 img
{
    width: 100%;
    height: 250px;
}

.box4
{
    height: 250px;
    width: 45%;
}

.box4 h2
{
    color: white;
    font-size: 16px;
    text-align: center;
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight:100;
    font-style: normal;
}

.box4 h3
{
    color: white;
    font-size: 10px;
    text-align: center;
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight:100;
    font-style: normal;
    padding-top: 10px;
}

.box4 img
{
    width: 100%;
    height: 250px;
}

.box5
{
    height: 250px;
    width: 45%;
    margin: 0px 20px 65px 0px;
}

.box5 h2
{
    color: white;
    font-size: 16px;
    text-align: center;
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight:100;
    font-style: normal;
}

.box5 h3
{
    color: white;
    font-size: 10px;
    text-align: center;
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight:100;
    font-style: normal;
    padding-top: 10px;
}

.box5 img
{
    width: 100%;
    height: 250px;
}

.box6
{
    height: 250px;
    width: 45%;
}

.box6 h2
{
    color: white;
    font-size: 16px;
    text-align: center;
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight:100;
    font-style: normal;
}

.box6 h3
{
    color: white;
    font-size: 10px;
    text-align: center;
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight:100;
    font-style: normal;
    padding-top: 10px;
}

.box6 img
{
    width: 100%;
    height: 250px;
}

.box7
{
    height: 250px;
    width: 45%;
    margin: 0px 20px 65px 0px;
}

.box7 h2
{
    color: white;
    font-size: 16px;
    text-align: center;
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight:100;
    font-style: normal;
}

.box7 h3
{
    color: white;
    font-size: 10px;
    text-align: center;
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight:100;
    font-style: normal;
    padding-top: 10px;
}

.box7 img
{
    width: 100%;
    height: 250px;
}

.box8
{
    height: 250px;
    width: 45%;
}

.box8 h2
{
    color: white;
    font-size: 16px;
    text-align: center;
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight:100;
    font-style: normal;
}

.box8 h3
{
    color: white;
    font-size: 10px;
}

.box8 img
{
    width: 100%;
    height: 250px;
}

.box9
{
    height: 250px;
    width: 45%;
    margin: 0px 20px 65px 0px;

}

.box9 h2
{
    color: white;
    font-size: 16px;
}

.box9 h3
{
    color: white;
    font-size: 10px;
}

.box9 img
{
    width: 100%;
    height: 250px;
}

.box10
{
    height: 250px;
    width: 45%;
}

.box10 h2
{
    color: white;
    font-size: 18px;
}

.box10 h3
{
    color: white;
    font-size: 14px;
}

.box10 img
{
    width: 100%;
    height: 250px;
}

.box11
{
    height: 250px;
    width: 45%;
    margin: 0px 20px 65px 0px;

}

.box11 h2
{
    color: white;
    font-size: 16px;
}

.box11 h3
{
    color: white;
    font-size: 10px;
}

.box11 img
{
    width: 100%;
    height: 250px;
}

.box12
{
    height: 250px;
    width: 45%;
}

.box12 h2
{
    color: white;
    font-size: 16px;
}

.box12 h3
{
    color: white;
    font-size: 10px;
}

.box12 img
{
    width: 100%;
    height: 250px;
}

.box13
{
    height: 250px;
    width: 45%;
    margin: 0px 20px 65px 0px;

}

.box13 h2
{
    color: white;
    font-size: 16px;
}

.box13 h3
{
    color: white;
    font-size: 10px;
}

.box13 img
{
    width: 100%;
    height: 250px;
}

.box14
{
    height: 250px;
    width: 45%;
}

.box14 h2
{
    color: white;
    font-size: 16px;
}

.box14 h3
{
    color: white;
    font-size: 10px;
}

.box14 img
{
    width: 100%;
    height: 250px;
}

.box15
{
    height: 250px;
    width: 45%;
    margin: 0px 20px 65px 0px;

}

.box15 h2
{
    color: white;
    font-size: 16px;
}

.box15 h3
{
    color: white;
    font-size: 10px;
}

.box15 img
{
    width: 100%;
    height: 250px;
}

.box16
{
    height: 250px;
    width: 45%;
}

.box16 h2
{
    color: white;
    font-size: 16px;
}

.box16 h3
{
    color: white;
    font-size: 10px;
}

.box16 img
{
    width: 100%;
    height: 250px;
}

.box17
{
    height: 250px;
    width: 45%;
    margin: 0px 20px 65px 0px;

}

.box17 h2
{
    color: white;
    font-size: 16px;
}

.box17 h3
{
    color: white;
    font-size: 10px;
}

.box17 img
{
    width: 100%;
    height: 250px;
}

.box18
{
    height: 250px;
    width: 45%;
}

.box18 h2
{
    color: white;
    font-size: 16px;
}

.box18 h3
{
    color: white;
    font-size: 10px;
}

.box18 img
{
    width: 100%;
    height: 250px;
}

    /* footer */

    .footer
    {
        height: 200px;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .footer h2
    {
        font-size: 12px;
        margin: 20px;
        padding-left: 20%;
    }

    .footer ul
    {
        font-size: 10px;
        margin: 0px;
        display: flex;
        flex-direction: column;
    }

    .footer li
    {
        padding-left: 10px;
        padding-top: 5px;
        text-align: center;
    }

    .footer li a
    {
        font-size: 14px;
    }
}

@media (min-width:481px) and (max-width:768px)
{

    /* nav */

    .navbar
    {
        height: 160px;
    }

   .navContainer
   {
    display: flex;
    flex-direction: column;
    margin: 0px;
    line-height: 0px;
   }

   .navContainer .logo{
    position: relative;
    top: 5%;
    left: 35%;
   }

   .navmenu{
    display: flex;
    justify-content: space-between;
    margin: 10px 25%;
   }

   .navicon
   {
    display: none;
   }

   .searchbar
   {
      width: 40%;
      margin-left: 5%;
   }

   .heading
   {
    margin-top: 25%;
   }

   /* main cont */

   .groupsFeed
   {
    height: 900px;
   }
   .box
   {
    display: flex;
    flex-direction: column;
    height: 900px;
    padding: 0px 0px 0px 0px;
    justify-content: start;
   }

   .box .box1
   {
    height: 250px;
    width: 100%;
    margin: 5% 0px;
   }

   .box1 h1
   {
    margin-top: 18%;
   }

   .box .box2
   {
    width: 70%;
    margin: 0px auto;
   }


     /* footer */

     .footer
     {
         height: 200px;
         width: 100%;
         display: flex;
         flex-direction: column;
         margin: auto;
     }
 
     .footer h2
     {
         font-size: 18px;
         margin: 25px 0px 10px 30px;
         padding-left: 20%;
     }
 
     .footer ul
     {
         font-size: 10px;
         margin: 0px;
         display: flex;
         flex-direction: column;
     }
 
     .footer li
     {
         padding-left: 10px;
         padding-top: 5px;
         text-align: center;
     }
 
     .footer li a
     {
         font-size: 14px;
     }
}

@media (min-width:481px) and (max-width:768px)
{

    /* nav */

    .navbar
    {
        height: 160px;
    }

   .navContainer
   {
    display: flex;
    flex-direction: column;
    margin: 0px;
    line-height: 0px;
   }

   .navContainer .logo{
    position: relative;
    top: 5%;
    left: 35%;
   }

   .navmenu{
    display: flex;
    justify-content: space-between;
    margin: 10px 25%;
   }

   .navicon
   {
    display: none;
   }

   .searchbar
   {
      width: 40%;
      margin-left: 5%;
   }

   /* left */

   .leftDetails
   {
    display: none;
   }

     /* footer */

     .footer
     {
         height: 200px;
         width: 100%;
         display: flex;
         flex-direction: column;
         margin: auto;
     }
 
     .footer h2
     {
         font-size: 18px;
         margin: 25px 0px 10px 30px;
         padding-left: 20%;
     }
 
     .footer ul
     {
         font-size: 10px;
         margin: 0px;
         display: flex;
         flex-direction: column;
     }
 
     .footer li
     {
         padding-left: 10px;
         padding-top: 5px;
         text-align: center;
     }
 
     .footer li a
     {
         font-size: 14px;
     }
}